# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db

# Logs
*.log
logs/

# Spring Boot runtime
spring-shell.log

# Maven Downloads (scratch)
*.zip
apache-maven-*/
scratch/

